/* Import statement for Google Fonts */
    
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Open+Sans:wght@300&display=swap');

/* Wild Card to remove: margin, padding and border */

    * {
        margin: 0;
        padding: 0;
        border: none;
    }


/* Main Structure - Body, Headings, Paragraphs, Logo & HR */

    body {
        font-family: 'Noto Sans', sans-serif;
        color: black;
        font-weight: 300;
        background-color: #55BCC9;
        margin-top: 100px;
    }

    h1, h2 {
        color: black;
        margin: 30px;
        font-size: xx-large;
    }

    h3, h4 {
        color: whitesmoke;
        font-family: Tahoma, Verdana, sans-serif;
        font-weight: 300;
        margin: 30px;
        font-size: x-large;
    }

    p {
        margin: 15px 9px 15px 9px;
        font-size: large;
    }

    #logo {
        float: left;
        width: 200px;
        padding: 15px 15px 15px 30px;
    }

    hr {
        border-bottom: 1px solid grey;
        width: 100%;
    }

    hr.bold {
        border-bottom: 6px solid purple;
        width: 100%;
    }


/* Nav Menu Links */

    #nav-bar {
        position: fixed;       
        width: 100%;
        height: 100px;
        top: 0;
        background-color: purple;
        z-index: +10;
    }

    #menu {
        font-size: 125%;
        line-height: 111px;
        color: whitesmoke;
    }

    #menu li {
        float: right;
        list-style-type: none;
        margin-right: 30px;
    }

    #menu a {
        text-decoration: none;
        color: inherit;
    }

    #menu a:hover {
        border: 2px solid #55BCC9;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 20%;
        padding: 5px;
    }

            /* Not currently in use */
            .active {
                border: 2px solid #97CAEF;
                border-top-left-radius: 20%;
                border-bottom-right-radius: 20%;
                padding: 5px;
            }


/* Hero Image & Cover Text */

    #hero-outer {
        height: 750px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    #hero-image {
        width: 100%;
        height: 750px;
        background: url(../images/palm-trees.png) no-repeat bottom;
        
        /* Animates zoom effect on hero image */
        animation-name: hero-zoom;
        animation-duration: 2s;
        animation-fill-mode: backwards;
    }

    /* Creates the level of zoom for the hero image */

    @keyframes hero-zoom {
        from{
            transform: scale(10);
        }
        to{
            transform: scale(1);
        }
    }


/* Life Hack Examples */

    #hack-examples {
        width: 100%;
    }

    #hack-examples div {
        width: 33%;
        background-color: #97CAEF;
        border: 20px solid #55BCC9;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 20%;
        box-sizing: border-box;
        float: left;
        padding: 10px 10px 20px 10px;
        text-align: center;
        line-height: 30px;
        margin-bottom: 50px;
    }

    #hack-examples div ul {
        list-style: none;
        font-size: large;
    }

    #hack-examples div ul li {
        padding: 15px 0;
    }

    #hack-examples div:hover {
        font-weight: bold;
    }

    .example-images {
        max-width: 50%;
    }


/* Reasons to Sign Up */

    #why-examples {
        width: 100%;
    }

    #why-examples div {
        width: 25%;
        background-color: #97CAEF;
        border: 20px solid #55BCC9;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 20%;
        box-sizing: border-box;
        float: left;
        padding: 10px 10px 20px 10px;
        text-align: center;
        line-height: 30px;
        margin-bottom: 50px;
    }

    #why-examples div:hover {
        font-weight: bold;
    }


/* About Us */

    #about-examples {
        width: 100%;
    }

    #about-examples div {
        width: 50%;
        background-color: #97CAEF;
        border: 20px solid #55BCC9;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 20%;
        box-sizing: border-box;
        float: left;
        padding: 10px 10px 20px 10px;
        text-align: center;
        line-height: 30px;
        margin-bottom: 50px;
    }

            /* Not currently in use as there is no text in the paragraph */
            #about-examples div:hover {
                font-weight: bold;
            }

    #cutting-video {
        max-width: 80%;
        max-height: 600px;
        margin-top: 15px;
    }


/* Sign Up */

    #sign-up {
        width: 100%;
        font-weight: bold;
    }

    #sign-up-form {
        width: 90%;
        border: 2px solid #55BCC9;
        background-color: #97CAEF;
        border-radius: 15%;
        text-align: center;
        line-height: 60px;
        margin-left: 5%;
        margin-bottom: 60px;
    }

    .text-input {
        background-color: whitesmoke;
        height: 30px;
        width: 75%;     
        border-radius: 5%;
        border: 3px solid #55BCC9;
    }

    .text-input:hover {
        border-color: purple;
    }

    .sign-up-button {
        height: 200px;
        width: 200px;
        margin-top: 30px;
        border-radius: 50%;
        font-size: 100%;
        background-color: purple;
        color: whitesmoke;
        margin-bottom: 50px;
    }
    
    .sign-up-button:hover {
        background-color: rgba(255, 0, 0, 0.75);
        color: whitesmoke;
        font-weight: bolder;
        font-size: 125%;
    }


/* Footer */

    footer {
        height: 300px;
        text-align: center;
    }

    footer a {
        text-decoration: none;
        color: #97CAEF;
    }

    footer div h3 {
        font-weight: bold;
        font-size: larger;
    }

    footer div ul li {
        font-size: 300%;
        display: inline;
        color: inherit;
        text-decoration: none;
        word-spacing: 50px;
    }

    footer div ul li:hover {
        font-size: 500%;
    }
