/* Import statement for Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Open+Sans:wght@300&display=swap');

/* Remove: margin, padding and border */

* {
    margin: 0;
    padding: 0;
    border: none;
}


/* Main Structure - Body, Headings, Paragraphs, Logo & HR */

/* Below provided by W3Schools - How to create smooth scroll - it provides a smooth scrolling effect when linking to areas on the page */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
    color: #000000;
    font-weight: 300;
    background-color: #55BCC9;
    margin-top: 100px;
}

h1,
h2 {
    color: #000000;
    margin: 30px;
    font-size: xx-large;
    font-family: 'Noto Sans', sans-serif;
}

h3,
h4 {
    color: #800080;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    margin: 30px;
    font-size: x-large;
}

p {
    margin: 15px 9px 15px 9px;
    font-size: large;
}

hr {
    border-bottom: 1px solid #808080;
    width: 100%;
}

hr.bold {
    border-bottom: 6px solid #800080;
    width: 100%;
}


/* Nav Menu Links */

#header-logo {
    float: left;
    width: 75px;
    height: 75px;
    padding: 12.5px 15px 12.5px 30px;
}

#nav-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: #800080;
    z-index: +10;
}

#menu {
    font-size: 125%;
    vertical-align: middle;
    color: #f5f5f5;
    line-height: 100px;
    margin-right: 30px;
}

#menu li {
    float: right;
    list-style-type: none;
    padding: 0 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* The below displays a decorative border around the menu items when the user hovers over them */
#menu a:hover {
    border: 2px solid #55BCC9;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    padding: 5px;
}


/* Button Styling */

.circle-button {
    height: 175px;
    width: 175px;
    margin: 30px;
    border-radius: 50%;
    font-size: 100%;
    background-color: #800080;
    color: #f5f5f5;
    font-family: Tahoma, Verdana, sans-serif;
}

.circle-button a {
    text-decoration: none;
    color: #f5f5f5;
}

.circle-button:hover {
    background-color: #ff0000bf;
    color: #f5f5f5;
    font-weight: bolder;
    font-size: 125%;
}

/* The validator displays the CSS validation link, it is displayed at the bottom left of each of the divs it is located within. Reduced opacity. */
.validator {
    position: absolute;
    opacity: 0.5;
    bottom: 10px;
    float: left;
    left: 10px;
    margin: 10px 0;
    width: 88px;
    height: 31px;
}

.validator img {
    width: 88px;
    height: 31px;
}

/* The top button is fixed in place at the bottom right hand of the screen, its sends the user back to the top of the page */
#top-button {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 10px;
    height: 50px;
    width: 50px;
    font-size: 12px;
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
    background-color: #800080;
    border-radius: 50%;
    text-decoration: none;
    opacity: 0.7;
}

#top-button a {
    color: #f5f5f5;
    text-decoration: none;
}

#top-button:hover {
    background-color: #ff0000;
}


/* Hero Image & Cover Text */

#hero-outer {
    height: 750px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero-image {
    width: 100vw;
    height: 750px;
    background: url(../images/palm-trees.webp) no-repeat bottom;
    background-attachment: fixed;

    /* Below animation effect learned from Code Institute's Love Running Project, values are different */

    /* Animates zoom effect on hero image */
    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
quest
/* Creates the level of zoom for the hero image */

@keyframes hero-zoom {
    from {
        transform: scale(5);
    }

    to {
        transform: scale(1.25);
    }
}

/* The below styling dispalys the text in a box with a styled border, semi-opaque background colour, padding and positions it in a set location in front of the hero image */
#hero-text {
    width: 350px;
    height: 400px;
    background-color: #323232e6;
    border: 5px solid #800080;
    border-radius: 10%;
    position: absolute;
    top: 100px;
    left: 200px;
    text-align: center;
    padding: 50px;
    color: #f5f5f5;
    word-spacing: 2px;
}

#hero-text h2 {
    color: #55BCC9;
}

#hero-logo {
    width: 200px;
    height: 66px;
}

/* Life Hack Examples */

#hack-examples {
    width: 100%;
}

/* The below styles the divs into 3 sections in one row with styled borders and padding */
#hack-examples div {
    width: 33%;
    background-color: #97CAEF;
    border: 20px solid #55BCC9;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-sizing: border-box;
    float: left;
    padding: 10px 10px 20px 10px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}

#hack-examples div ul {
    list-style: none;
    font-size: large;
}

#hack-examples div ul li {
    padding: 15px 0;
}

#hack-examples div ul li:hover {
    font-weight: bold;
}

/*  The below allows the images to be displayed with a circular border */
.example-images {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #800080;
}


/* Reasons to Sign Up */

#why-examples {
    width: 100%;
}

/*  The below styles the divs into 4 sections on one row with custom border and padding */
#why-examples div {
    width: 25%;
    background-color: #97CAEF;
    border: 20px solid #55BCC9;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-sizing: border-box;
    float: left;
    padding: 10px 10px 20px 10px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}

#why-examples a {
    text-decoration: none;
    font-weight: bold;
    color: #800080;
}

#why-examples div:hover {
    font-weight: bold;
}


/* About Us */

#about-examples {
    width: 100%;
}

/* The belows styles the divs into 4 sections with custom border and padding */
#about-examples div {
    width: 50%;
    background-color: #97CAEF;
    border: 20px solid #55BCC9;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-sizing: border-box;
    float: left;
    padding: 10px 10px 20px 10px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}

.about-videos {
    max-width: 80%;
    max-height: 600px;
    margin-top: 15px;
}


/* Sign Up Form */

#sign-up {
    width: 100%;
    font-weight: bold;
}

#sign-up-form {
    width: 90%;
    border: 2px solid #55BCC9;
    background-color: #97CAEF;
    border-radius: 15%;
    text-align: center;
    line-height: 60px;
    margin-left: 5%;
    margin-bottom: 60px;
}

.text-input {
    background-color: #f5f5f5;
    height: 30px;
    width: 75%;
    border-radius: 5%;
    border: 3px solid #55BCC9;
}

.text-input:hover {
    border-color: #800080;
}

/* The below code relating to the question allows for the first 6 answers to be displayed seperatly to the all answer. There is repsonsive styling based on this further down */
#question, #answer-all {
    font-weight: normal;
}

#question div {
    width: 16.666%;
    float: left;
}

#question div:hover,
#answer-all:hover {
    font-weight: bold;

}

input[type="radio"] {
    margin: 0 5px 0 2px;
}


/* Footer */

footer {
    height: 150px;
    text-align: center;
    background-color: #800080;
    padding-bottom: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

footer a {
    text-decoration: none;
    color: #55BCC9;
    padding: 25px;
}

footer div {
    width: 50%;
    float: left;
}

footer div h3 {
    font-weight: bold;
    font-size: larger;
    color: #f5f5f5;
}

footer div ul li {
    font-size: 300%;
    display: inline;
    color: inherit;
    text-decoration: none;
}

footer div ul li:hover {
    font-size: 333%;
}


/* Confirmation Page */

#confirmation-outer {
    width: 100%;
    height: 777px;
    position: relative;
    overflow: hidden;
}

#confirmation-image {
    background: url("../images/palm-trees.webp") no-repeat bottom;
    background-attachment: fixed;
    width: 100vw;
    height: 777px;
}

/*  The below styles the text, border and position for  the confirmation text that is set to display over the image on the confirmation page */
#confirmation-text {
    width: 75%;
    height: 75%;
    background-color: #323232e6;
    border: 5px solid #800080;
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px;
    color: #f5f5f5;
    word-spacing: 2px;
}

#confirmation-text h2 {
    color: #55BCC9;
}

#confirmation-text h3 {
    color: #f5f5f5;
}

#confirmation-text p {
    color: #c0c0c0;
    font-size: smaller;
}

#confirmation-text p a {
    text-decoration: none;
    font-weight: bolder;
    color: #55BCC9;
}


/* Media Queries */

/* Note: Site designed on large screen width. No additional changes required for larger screens. */

/* For screens from 1049px wide and down */

@media screen and (max-width: 1049px) {

    #hack-examples div {
        width: 100%;
    }

    #why-examples div {
        width: 50%;
    }

    #question div {
        width: 33.3%;
    }

    footer div {
        width: 100%;
        font-size: 75%;
        height: 150px;
        padding: 0;
        background-color: #800080;
    }
}

/* For screens from 849px wide and down */

@media screen and (max-width: 849px) {

    #confirmation-outer {
        height: 1000px;
    }

    #confirmation-image {
        height: 1000px;
    }
}

/* For screens from 680px wide and down */

@media screen and (max-width: 680px) {

    #menu {
        font-size: 100%;
    }

    #hero-text {
        top: 50px;
        left: 50px;
        width: 250px;
    }

    #hero-text h2 {
        font-size: 150%;
    }

    #about-examples div {
        width: 100%;
    }
}

/* For screens - 580px wide and down */

@media screen and (max-width: 580px) {

    #header-logo {
        width: 50px;
        height: 50px;
        padding: 25px 15px;
    }

    #menu {
        margin-right: 5px;
    }

    #why-examples div {
        width: 100%;
    }

    .text-input {
        width: 90%;
    }

    #question div {
        width: 50%;
    }

    #confirmation-text {
        padding: 30px;
    }

    #return-button {
        height: 100px;
        width: 100px;
    }
}

/* For screens from 454px wide and down */

@media screen and (max-width: 454px) {

    #menu {
        line-height: 50px;

    }

    #menu li {
        width: 25%;
    }

    #hero-text {
        top: 30px;
        left: 15px;
        width: 160px;
        height: 350px;
        padding: 5px;
    }

    #confirmation-text h2 {
        font-size: 150%;
    }

    #confirmation-text h3 {
        font-size: 125%;
    }

    #sign-up-link-button,
    #hero-link {
        height: 100px;
        width: 100px;
    }

    #hero-logo {
        width: 133px;
        height: 44px;
    }
}

/* For screens from 375px wide and down*/

@media screen and (max-width: 375px) {

    footer div ul li {
        font-size: 150%;
    }

    footer div ul li:hover {
        font-size: 165%;
    }
}

/* For screens from 340px wide and down to 280px*/

@media screen and (max-width: 340px) {

    #menu {
        font-size: 75%;
    }

    #question div {
        width: 100%;
    }
    
    #confirmation-text h2 {
        font-size: 125%;
    }

    #confirmation-text h3 {
        font-size: 100%;
    }

    

    
}


/* Note, site has been styled to respond to devices with a screen width as low as 280 px wide, styling issues may occur below this wscreen width */